/**
 * Styling for the default SilverStripe Forum 
 */

.clear {
	clear:both;
	height:0;
}

/* Header */
.forum-header {
}
.forum-header-forms {
	float:right;
	width:300px;
}
.forum-header-forms form {
	margin:0;
}
.typography .start-topic{
	color: #92b167;
	background: #e4e4e4;
	background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e4e4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	font-weight: bold;
	border: 1px solid #cccccc;
	padding: 6px 7px;
	border-radius: 15px;
}
.typography .start-topic:hover{
	color: #92b167;
	background: #e4e4e4;
	background: -moz-linear-gradient(top,  #e4e4e4 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e4e4e4 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e4e4e4 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e4e4e4 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e4e4e4 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=0 );
	border: 1px solid #cccccc;
}
.typography .start-topic::before{
	content: "+";
	margin: 3px;
}
.forum-jump {
}
.forum-jump label {
	display:none;
}
.forum-search {
}
.forum-search label {
	display:none;
}

/* Search Results */
.forum-pagination .page-numbers {
	text-align: center;
}
.forum-pagination ul li {
	display: inline;
}


/* Content */
.forum-message-admin {}
.forum-message-suspended {}

.forum-topics {
	width:100%;
	margin:0;
}
.forum-topics tr {
	border:1px solid #ccc;	
	border-bottom:none;
}
.forum-topics tr:nth-child(2n+1) {
	background-color:#f5f5f5;
}
.forum-topics tr:last-child {
	border:1px solid #ccc;	
}
.forum-topics tr.category {
	background:#777;
	color:#FFF;
	text-align:left;
}
.forum-topics tr.author {
	background:#EDEDED;
}

.forum-topics .highlight {
	background-color:yellow;
}

.forum-topics .hidden {
	display:none;
}

.forum-topics th, .forum-topics td {
	padding:8px 10px;
	margin:0;
	text-align:left;
}


.forum-topics tr.category a {
	background-color:#fff;
	padding:2px 5px;
	text-decoration:none;
	border-radius:3px;
}
.forum-topics tr.category a:hover {
	background-color:#f5f5f5;
}

.forum-post {
	padding:10px;
	border:1px solid #ccc;
}
.forum-post:nth-child(2n) {
	background-color:#f5f5f5;
}
.post-date {
	color:#A79999;
	font-size:0.9em;
	margin:0;
}
.author-link {
	font-size:1.1em;
}
.forum-post .user-info {
	float:left;
	width:150px;
	text-align:left;
}
.forum-post .user-content {
	margin-left:190px;
	padding:8px 0;
}
.forum-post .avatar {
	border:5px solid #ccc;
	margin:10px 0;
}
.forum-post .forum-rank {
	background:#FDF8DA;
	color:#E1AD09;
	font-size:0.9em;
	padding:2px 5px;
}
.forum-post .post-modifiers {
	margin:10px 0;
}
.forum-post .post-modifiers a {
	color:#b22222;
	margin-right:.5em;
}
.forum-post .post-type {
	margin:10px 0;
}


/* Footer */
.forum-admin-features {
	margin:20px 0;
}
.forum-footer {
	margin:20px 0;
}
.forum-footer p {
}
.forum-footer p strong {
}
.BBCodeHint #HideBBCodeHint{
	display: none;
}
